<!DOCTYPE html>
<html>
<head>
  <title>


  </title>
  <!-- <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="resources/css/custom.css"> -->

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
    
  <script type="text/javascript" src="jquery/jquery.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/popperjs/popper.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js">
  </script>

  <script type="text/javascript" src="js/admincoursedashboard.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">cyberSchool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="index" id="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

  <h1>Course Dashboard</h1>
  <h3 id="totalCoursesNumber">Total courses: </h3>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Course ID</th>
      <th scope="col">Course Title</th>
      <th scope="col">Course Description</th>
      <th scope="col">Credit</th>
      <th scope="col">Fee</th>
      <th scope="col">Course Image</th>      
      <th scope="col">Course Type</th>      
      <th scope="col">Teacher</th>      
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody id="coursesListBody">

    <tr>
      <th scope="row">1</th>
      <td>JAVA</td>
      <td>very tori language</td>
      <td>20 hours</td>
      <td>$300</td>
      <td>The IMAGE</td>
      <td>Web</td>
      <td>Robin</td>
      <td><button type="button" id="edit" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Edit</button></td>
      <td><button type="button" id="delete" class="btn btn-danger">Delete</button></td>
    </tr>

  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Course </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

 <form  class="form-horizontal" id="editUserr"  method= "POST"  enctype="multipart/form-data">
<fieldset>

<!-- <legend>Registration</legend> -->

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Course Title</label>
  <div class="col-md-4">
  <input id="eCourseTitle" name="username" type="text" placeholder="Enter Course Title" class="form-control input-md">
  </div>

  <label class="col-md-4 control-label" for="textinput">Course Description</label>
  <div class="col-md-4">
  <input id="eCourseDescription" name="username" type="text" placeholder="Enter Course Description" class="form-control input-md">
  </div>

  <label class="col-md-4 control-label" for="textinput">Credit</label>
  <div class="col-md-4">
  <input id="eCredit" name="username" type="text" placeholder="Enter Course Credit" class="form-control input-md">
  </div>

  <label class="col-md-4 control-label" for="textinput">Fee</label>
  <div class="col-md-4">
  <input id="eFee" name="username" type="text" placeholder="Enter Course Fee" class="form-control input-md">
  </div>


</div>

<div class="form-group">
  <div class="col-md-4">
    <button  name="submit" id="courseEditSave"  class=" btn btn-info">SAVE</button>
  </div>
</div>

</fieldset>
</form>

 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
