<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
.checked {
  color: orange;
}
</style>

  </head>
  <body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="index">cyberSchool</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="text-decoration:underline">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../index" id="signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index" id="login">Login</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="categories">
      <ul class="categoriesList" id="categoriesList">
        <a href="courses.html">All Courses</a>
        <a href="#">Web Development</a>
        <a href="#">Mobile Apps</a>
        <a href="#">Design</a>
        <a href="#">Database</a>
        <a href="#">Game Development</a>
      </ul>

    </div>

        <div class="coursesContainer" id="coursesContainerID"></div>

  </body>
 
  <script type="text/javascript" src="jquery/jquery.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/popperjs/popper.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js">
  </script>

  <script type="text/javascript" src="js/course.js"></script>

</html>
