<!DOCTYPE html>
<html lang="en">
<head>
  <title>cyberSchool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/coursedescription.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
.checked {
  color: orange;
}
</style>

   <script type="text/javascript" src="jquery/jquery.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/popperjs/popper.min.js">
  </script>

  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="js/coursedescription.js"></script>


</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="index">cyberSchool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="courses">Courses</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="index" id="login">Log Out</a>
      </li>

    </ul>
  </div>
</nav>

<div class="container-fluid bg-info">
  <div class="courseDesc ml-4" >
   <h3 class="courseTitle" id="courseTitle" >Advanced CSS and Sass: Flexbox, Grid, Animations and More </h3>
   <h5 class="courseShortDescription" id="courseShortDescription">The most advanced and modern CSS course on the internet: master flexbox, CSS Grid, responsive design, and so much more.</h5>
  <h6 class="teacherName" id="teacherName"> </h6>
  <h6 class="creditHour" id="creditHour"> </h6>


  <div class="coursesContainer" id="ratingDescription">
    
    
  </div>



  <div class="position-absolute">

    <img id="courseImage">
    <h6 class="coursePrice w-100 mt-3" id="coursePrice">Price: $100</h6>
    <button class="btn btn btn-primary w-100 mt-3" id="buyCourse">BUY</button>  
  </div>  
  </div>
  
</div>


   <div class="courseDetailDescription bg-light mt-3" >
    <h3>Course Description</h3>
    <p class="courseLongDescription" id="courseLongDescription">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
  </div>

  <div class="courseVideoContainer list-group mt-3">
    <h3 class="ml-5">Course Content</h3>
    <ul id="courseLister"> 
    </ul>
  </div>





